<!DOCTYPE html>
<html>
<head><title>Demographics</title></head>
<body>
    <h1>Demographics</h1>
    <form method="POST">
        <p>What gender do you identify with?</p>
        <input type="radio" id="g_female" name="gender" value="Female" required>
        <label for="g_female">Female</label><br>
        <input type="radio" id="g_male" name="gender" value="Male">
        <label for="g_male">Male</label><br>
        <input type="radio" id="g_other" name="gender" value="Other">
        <label for="g_other">Prefer not to say / Not in the list</label><br>

        <p>What is your age?</p>
        <input type="number" name="age" required>

        <p>Which gender do you prefer to date?</p>
        <input type="radio" id="p_men" name="preference" value="Men" required>
        <label for="p_men">Men</label><br>
        <input type="radio" id="p_women" name="preference" value="Women">
        <label for="p_women">Women</label><br>

        <p>What is your current relationship status?</p>
        <input type="radio" id="s_single" name="status" value="Single" required>
        <label for="s_single">Single</label><br>
        <input type="radio" id="s_rel" name="status" value="In a relationship">
        <label for="s_rel">In a relationship</label><br>
        <input type="radio" id="s_pref" name="status" value="Prefer not to say">
        <label for="s_pref">Prefer not to say</label><br><br>

        <input type="submit" value="Next">
    </form>
</body>
</html>
