<!DOCTYPE html>
<html>
<head><title>Instructions</title></head>
<body>
    <h1>Instructions</h1>
    <p>As previously mentioned, you will be evaluating 2 set of each 30 different dating profiles. These profiles consist of their name, age, personality characteristics, personal interests and those whom are disliked by the person. You will be asked to evaluate each profile individually. Per dating profile, the following question needs to be answered with the 10-point slider scale: How likely you would want to date this person? 0 = ‘Would definitely not want to date this personʼ 10 = ‘Would definitely want to date this personʼ. Please keep in mind the following when completing the questionnaire: Read the whole profile before answering. Answer as honestly as possible, there is no wrong answer. Do not spend much time per profile, your first impression is enough. The dating profiles will be shown in random order, once a profile has been shown, you will not be able to return to it.</p>
    
    <form method="POST">
        <input type="submit" value="Start Rating Profiles">
    </form>
</body>
</html>
